
    <div>
        <div class="recent-posts">
        <div class="post-show-header">
            <h3> <%= @post.title %></h3>
            <div class=" show-index comment-like">
                <p>comments: <%= @post.comments_counter %></p>
                <p>likes: <%= @post.likes_counter %></p>
            </div>
        </div>
    <p> <%= @post.text%></p>
    
    </div>
    
     <% if @post.comments.count > 0 %>
     <div class="comments">
              <span class='post_comments_likes'>
                  <% @post.comments.includes([:author]).each do |comment| %>
                    <p class='post_comment'>
                      <%= comment.author.name%>:
                      <%= comment.text %>
                    </p>
                    <% if can? :destroy, comment %>
      <%= link_to "Delete Comment", user_post_comment_path(@post.author, @post, comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-primary" %>
    <% end %>
                  <% end %>
              </span>
              </div>
            <% end %>
    </div>
    <div class='like-comment'>
  <%= link_to 'Back', user_posts_path, class: "btn btn-primary" %>
  <% if can? :destroy, @post %>
  <%= link_to "Delete post", user_post_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <%end%>
  <%= button_to "Like", user_post_likes_path(@post.author.id, post_id: @post.id), method: :post, class: "middle btn btn-primary" %>
  <%= link_to 'create comment', new_user_post_comment_path(@post.author.id, @post.id), class: "btn btn-primary" %>
</div>